.intro-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2, p{
    animation: go-back 1s;
}

.intro-img img{
    width: 100%;
    height: auto;
}

.top3-content{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    height: 150vh;
}

@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  } 